@media screen and (max-width: 1200px) {
  [pc] {
    display: none; }

  [mobie] {
    display: flex; }

  #h-wrapper {
    height: 60px; } }
@media screen and (max-width: 768px) {
  .products-category {
    padding: 5px;
    margin-bottom: 0px; }

  .products {
    padding: 0 5px; }

  .slick-banner h2 {
    font-size: 30px; }
  .slick-banner .bg-gradient img {
    width: 100%;
    transform: translate(0); } }
@media screen and (max-width: 540px) {
  .bg-category {
    height: 155px; }
    .bg-category h1 {
      top: 38%; }
    .bg-category .breadcrumb {
      top: 63%; }
    .bg-category > div {
      height: 155px; }

  .cart .continue_shopping {
    display: none; }
  .cart .purchase_information {
    margin-top: 20px; }

  [cartPC] {
    display: none; }

  [cartMB] {
    display: block; }
    [cartMB] .cart-mobie-item {
      position: relative;
      background-color: #fff;
      padding: 10px 0;
      min-height: 106px;
      border-bottom: 1px solid #ececec; }
      [cartMB] .cart-mobie-item .box-image {
        margin-right: 10px; }
        [cartMB] .cart-mobie-item .box-image .thumbnail {
          width: 85px; }
          [cartMB] .cart-mobie-item .box-image .thumbnail img {
            width: 100%; }
      [cartMB] .cart-mobie-item .box-info {
        line-height: 1; }
        [cartMB] .cart-mobie-item .box-info .quantity-mb {
          position: absolute;
          top: 35px;
          right: 60px; }
          [cartMB] .cart-mobie-item .box-info .quantity-mb input {
            width: 40px;
            height: 30px;
            text-align: center;
            border: 2px solid #e8e8e8;
            border-radius: 5px; }
        [cartMB] .cart-mobie-item .box-info a {
          max-width: 267px;
          color: #313131;
          margin-right: 42px;
          line-height: 1.2;
          display: block;
          margin-bottom: 5px;
          font-size: 15px;
          height: 35px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical; }
      [cartMB] .cart-mobie-item .button-remove-cart {
        position: absolute;
        top: 28px;
        right: 0px;
        color: #ffffff;
        background-color: #e7654b;
        padding: 9px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; }
        [cartMB] .cart-mobie-item .button-remove-cart svg {
          width: 20px; }

  #cart-rev-mb {
    display: block; }

  .slick-banner .excerpt {
    margin-bottom: 20px;
    width: 100%; }
  .slick-banner .container {
    text-align: center !important; }
  .slick-banner .buy_now {
    margin: 10px auto; }

  .talkaboutus h2 {
    font-size: 18px; }
  .talkaboutus .talk-quote {
    margin: 7px 0; }
  .talkaboutus .talkaboutus-arrow {
    border-radius: 50%; }

  .title h2 {
    font-size: 18px;
    margin-bottom: 0px; }
  .title .sub-products img {
    width: 45px; }

  .contact {
    margin: 30px 0; }
    .contact .contact-ex h2 {
      font-size: 29px; }
    .contact .contact-ex span {
      font-size: 17px; }
    .contact .contact-ex p {
      font-size: 16px; }
    .contact .social-contact {
      margin: 10px 0; }
      .contact .social-contact a i {
        font-size: 27px;
        margin-right: 4px; }

  footer .container-fluid {
    padding: 20px 0; }
  footer .col {
    margin-bottom: 20px; }

  .services .row {
    margin: 0;
    padding: 10px 0; }
    .services .row .col {
      min-height: auto;
      display: flex;
      flex-direction: unset; }
      .services .row .col i {
        margin-right: 10px;
        font-size: 28px;
        margin-top: 12px; }
      .services .row .col b {
        font-size: 18px; }
      .services .row .col p {
        margin-bottom: 0px;
        font-size: 14px; }

  .products .item .flex {
    display: block; }
    .products .item .flex .price {
      margin-left: 0px; }

  .product-article .excerpt {
    padding: 15px; }
  .product-article .slider-nav img {
    height: 100px; }

  #fixed-cart-mb {
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-color: #fff; }
    #fixed-cart-mb .add-cart {
      border-radius: 0;
      width: 100%;
      text-align: center; }
    #fixed-cart-mb .favorite {
      padding: 0 20px; }

  .news .arrows-news {
    height: 25px;
    margin-top: 15px; }
    .news .arrows-news .arrow {
      width: 20px;
      height: 2px; }
      .news .arrows-news .arrow.arrow-previous {
        left: calc(50% - 22px); }
      .news .arrows-news .arrow.arrow-next {
        right: calc(50% - 22px); }
      .news .arrows-news .arrow i {
        display: none; }
  .news .slick-news {
    padding: 0; }
  .news .item .box-thumbnail {
    margin-right: 10px; }
  .news .item .des {
    width: 50%;
    margin-right: 0%; }
    .news .item .des .more, .news .item .des .date {
      display: none; }

  .response {
    margin: 0px !important; }
    .response .col {
      padding: 0 7px; }
      .response .col .item {
        margin-bottom: 14px !important;
        border: 1px solid #dcdcdc; }
        .response .col .item .flex {
          height: 28px;
          text-align: center;
          font-size: 14px;
          margin-top: 5px; }
        .response .col .item a {
          font-size: 15px;
          line-height: 1.2;
          height: 36px; }
        .response .col .item .discount-price {
          font-size: 14px;
          line-height: 1.1; }
        .response .col .item .price {
          font-size: 13px;
          line-height: 1.1; } }

/*# sourceMappingURL=page.css.map */
